<!DOCTYPE html>
<html lang="{{.Language}}">
<head>
  <title>{{formTitle .Language .Title}} | linkding Admin</title>
  <link rel="stylesheet" href="{{.Prefix}}static/admin/css/base.css">
  <link rel="stylesheet" href="{{.Prefix}}static/admin/css/dark_mode.css">
  <script src="{{.Prefix}}static/admin/js/theme.js"></script>
  <link rel="stylesheet" href="{{.Prefix}}static/admin/css/nav_sidebar.css">
  <script src="{{.Prefix}}static/admin/js/nav_sidebar.js" defer></script>
  <link rel="stylesheet" href="{{.Prefix}}static/admin/css/forms.css">
  <link rel="stylesheet" href="{{.Prefix}}static/admin/css/unusable_password_field.css">
  <link rel="stylesheet" href="{{.Prefix}}static/admin/css/responsive.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class="app-auth model-user change-form">
<a href="#content-start" class="skip-to-content-link">{{tr .Language "Skip to main content"}}</a>
<div id="container">
  <header id="header"><div id="branding"><div id="site-name"><a href="{{.Prefix}}admin/">linkding administration</a></div></div><div id="user-tools">
    {{tr .Language "Welcome,"}} <strong>{{.Username}}</strong>.
    <a href="{{.Prefix}}">{{tr .Language "View site"}}</a> /
    <a href="{{.Prefix}}admin/password_change/">{{tr .Language "Change password"}}</a> /
    <form id="logout-form" method="post" action="{{.Prefix}}admin/logout/"><input type="hidden" name="csrfmiddlewaretoken" value="{{.CSRFToken}}"><button type="submit">{{tr .Language "Log out"}}</button></form>
    <button class="theme-toggle">
      <span class="visually-hidden theme-label-when-auto">{{tr .Language "Toggle theme (current theme: auto)"}}</span>
      <span class="visually-hidden theme-label-when-light">{{tr .Language "Toggle theme (current theme: light)"}}</span>
      <span class="visually-hidden theme-label-when-dark">{{tr .Language "Toggle theme (current theme: dark)"}}</span>
      <svg aria-hidden="true" class="theme-icon-when-auto"><use xlink:href="#icon-auto" /></svg>
      <svg aria-hidden="true" class="theme-icon-when-dark"><use xlink:href="#icon-moon" /></svg>
      <svg aria-hidden="true" class="theme-icon-when-light"><use xlink:href="#icon-sun" /></svg>
    </button>
  </div></header>
  <nav aria-label="{{tr .Language "Breadcrumbs"}}"><div class="breadcrumbs"><a href="{{.Prefix}}admin/">{{tr .Language "Home"}}</a> &rsaquo; <a href="{{.Prefix}}admin/auth/">{{tr .Language "Authentication and Authorization"}}</a> &rsaquo; <a href="{{.Prefix}}admin/auth/user/">{{capTr .Language "users"}}</a> &rsaquo; <a href="{{.ChangeURL}}">{{.Target}}</a> &rsaquo; {{tr .Language "Change password"}}</div></nav>
  <div class="main" id="main">{{template "admin_sidebar" .}}<main id="content-start" class="content" tabindex="-1"><div id="content" class="colM">
    <h1>{{formTitle .Language .Title}}</h1>
    {{if .Error}}<p class="errornote">{{.Error}}</p>{{end}}
    <div id="content-main"><form method="post" action="{{.Action}}" id="user_form">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{.CSRFToken}}">
      <input type="text" name="username" value="{{.Target}}" class="hidden">
      <div><p>{{passwordPrompt .Language .Target}}</p>
      {{if not .UsablePassword}}<p>{{passwordEnableMessage .Language}}</p>{{end}}
      <fieldset class="module aligned">
        <div class="form-row"><fieldset><legend>{{tr .Language "Password-based authentication"}}:</legend><div id="id_usable_password" class="radiolist inline"><div><label for="id_usable_password_0"><input type="radio" name="usable_password" value="true" class="radiolist inline" id="id_usable_password_0"{{if .UsablePassword}} checked{{end}}> {{tr .Language "Enabled"}}</label></div><div><label for="id_usable_password_1"><input type="radio" name="usable_password" value="false" class="radiolist inline" id="id_usable_password_1"{{if not .UsablePassword}} checked{{end}}> {{tr .Language "Disabled"}}</label></div></div></fieldset><div class="help"><p>Whether the user will be able to authenticate using a password or not. If disabled, they may still be able to authenticate using other backends, such as Single Sign-On or LDAP.<ul id="id_unusable_warning" class="messagelist"><li class="warning">If disabled, the current password for this user will be lost.</li></ul></p></div></div>
        <div class="form-row field-password1"><div class="flex-container"><label for="id_password1">{{capTr .Language "password"}}:</label> <input type="password" name="password1" autocomplete="new-password" autofocus aria-describedby="id_password1_helptext" id="id_password1"></div><div class="help" id="id_password1_helptext"><ul><li>{{tr .Language "Your password can’t be too similar to your other personal information."}}</li><li>{{passwordMinimum .Language}}</li><li>{{tr .Language "Your password can’t be a commonly used password."}}</li><li>{{tr .Language "Your password can’t be entirely numeric."}}</li></ul></div></div>
        <div class="form-row field-password2"><div class="flex-container"><label for="id_password2">{{tr .Language "Password confirmation"}}:</label> <input type="password" name="password2" autocomplete="new-password" aria-describedby="id_password2_helptext" id="id_password2"></div><div class="help" id="id_password2_helptext">{{tr .Language "Enter the same password as before, for verification."}}</div></div>
      </fieldset>
      <div class="submit-row"><input type="submit" name="set-password" value="{{if .UsablePassword}}{{tr .Language "Change password"}}{{else}}{{tr .Language "Enable password-based authentication"}}{{end}}" class="default set-password">{{if .UsablePassword}}<input type="submit" name="unset-password" value="{{tr .Language "Disable password-based authentication"}}" class="unset-password">{{end}}</div>
      </div></form></div>
    <br class="clear">
  </div></main></div><footer id="footer"></footer>
</div>
<svg xmlns="http://www.w3.org/2000/svg" class="base-svgs">
  <symbol viewBox="0 0 24 24" id="icon-auto"><path d="M0 0h24v24H0z" fill="currentColor"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2V4a8 8 0 1 0 0 16z"/></symbol>
  <symbol viewBox="0 0 24 24" id="icon-moon"><path d="M0 0h24v24H0z" fill="currentColor"/><path d="M10 7a7 7 0 0 0 12 4.9v.1c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2h.1A6.979 6.979 0 0 0 10 7zm-6 5a8 8 0 0 0 15.062 3.762A9 9 0 0 1 8.238 4.938 7.999 7.999 0 0 0 4 12z"/></symbol>
  <symbol viewBox="0 0 24 24" id="icon-sun"><path d="M0 0h24v24H0z" fill="currentColor"/><path d="M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85l1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z"/></symbol>
</svg>
</body>
</html>
